.memberItem__container {
  width: 100%;
  height: 50px;
  display: flex;
  margin: 15px;
  outline: none;
  .memberItem__imagewrapper {
    height: 100%;
    overflow: hidden;
    margin-right: 0.5rem;
    > img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  .memberItem__textwrapper {
    width: 100%;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #000000;
    &__title {
      margin-bottom: 0.25rem;
    }
    &__sub {
      font-size: 0.9rem;
      color: rgba(0, 0, 0, 0.6);
    }
  }
}
