.banner3 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  grid-gap: 10px;
  margin-bottom: 50px;
  @media (min-width: 576px) and (max-width: 1200px) {
    grid-template-columns: repeat(3, minmax(150px, 1fr));
  }
  @media (min-width: 360px) and (max-width: 575.99px) {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }
  @media (min-width: 0px) and (max-width: 359.99px) {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}
