@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
};
@keyframes blink-effect {
  50% {
    opacity: 0;
  }
};
.wrapper {
  width: 100vw;
  position: absolute;
  left: 0;
  height: 33.1vh;
  display: flex;
  flex-direction: column;
  .container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0% 15%;
    > h1 {
      font-size: 3rem;
      display: inline;
    }
    > h2 {
      text-align: right;
      animation: fadein 1s;
    }
    .text_line {
      font-size: 3rem;
      display: inline-flex;
    }
    .text_line__active {
      font-size: 3rem;
      display: inline-flex;
      animation: blink-effect 1s step-end infinite;
    }
  }
}

.crimson {
  color: var(--crimson);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}