.wrapper {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    grid-gap: 10px;
    padding-bottom: 50px;
    padding-top: 50px;
    @media (min-width: 0px) and (max-width: 575.99px) {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }
    @media (min-width: 576px) and (max-width: 991.98px) {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
    @media (min-width: 992px) and (max-width: 1200px) {
        grid-template-columns: repeat(3, minmax(260px, 1fr));
    }
}