.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 100%;
    .title {
        position: relative;
        margin: 0px auto;
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.34;
    }
    .selectorWrapper {
        position: relative;
        box-sizing: border-box;
        text-align: right;
        width: 50%;
        margin: 16px auto 80px;
    }
    .submitButton {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 200px;
        height: 40px;
        border-radius: 8px;
        border: solid 1px #b0bbcd;
        background-color: #ffffff;
        font-size: 18px;
        color: #3c4558;
        cursor: pointer;
    }
    @media (min-width: 0px) and (max-width: 640px) {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        transform: none;
        top: 0;
        left: 0;
        .title {
            position: relative;
            margin: 0px auto;
            text-align: center;
            font-size: 1.5rem;
            line-height: 1.34;
        }
        .selectorWrapper {
            position: relative;
            box-sizing: border-box;
            text-align: right;
            width: 50%;
            margin: 16px auto 80px;
        }
        .submitButton {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            width: 200px;
            height: 40px;
            border-radius: 8px;
            border: solid 1px #b0bbcd;
            background-color: #ffffff;
            font-size: 18px;
            color: #3c4558;
            cursor: pointer;
        }
    }
}