.container {
  position: relative;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  height: max-content;
  width: 50%;
  min-width: max-content;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 3vh;
  .title {
    position: relative;
    font-size: 1.6rem;
    text-align: center;
    width: 100%;
    height: max-content;
    margin-bottom: 1.8rem;
  }
  .membertitle {
    position: relative;
    font-size: 1.1rem;
    width: 100%;
  }
  .memberwrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    min-width: max-content;
    padding: 5%;
    margin-bottom: 10%;
  }
  .buttonwrapper {
    position: relative;
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .button {
      outline: none;
      border-radius: 8px;
      border: solid 1px #b0bbcd;
      background-color: #ffffff;
      width: 50%;
      height: 1.7rem;
      padding: 0.32rem;
      margin-bottom: 12px;
      &__text {
        position: relative;
        font-size: 1rem;
        top: 0.3rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
      }
    }
  }
}
