.container {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 74px;
    margin-bottom: 72px;
    form {
        width: 95%;
        height: 300px;
        background-color: rgba(242, 243, 246, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        flex-direction: column;
        box-shadow: 0px 1px 1.5px rgb(128 128 128);
        textarea {
            width: 100%;
            height: 50%;
            outline: none;
            resize: none;
            border: none;
            box-sizing: border-box;
            padding: 15px;
            font-family: "Open Sans", sans-serif;
        }
        .buttonwrapper {
            width: 100%;
            height: 25%;
            box-sizing: border-box;
            padding: 0px 10px;
            display: flex;
            align-items: center;
            .login {
                border-radius: 30px;
                width: 100px;
                height: 30px;
                background: none;
                border-color: rgba(0,0,240,0.5);
                font-size: 16px;
                color: rgba(0,0,240,0.9);
                font-weight: 600;
                box-sizing: content-box;
                padding: 3px;
                cursor: pointer;
                transition: 0.3s;
                &:hover {
                    background-color: rgba(0,0,240,0.9);
                    color: white;
                }
            }
            .submit {
                border-radius: 30px;
                width: 120px;
                height: 30px;
                background: none;
                border: none;
                font-size: 16px;
                background-color: rgba(0,0,240,0.9);
                color: white;
                font-weight: 600;
                box-sizing: content-box;
                padding: 3px;
                cursor: pointer;
                transition: 0.3s;
                &:hover {
                    background-color: white;
                    color: rgba(0,0,240,0.9);
                }
            }
            :nth-child(2) {
                margin-left: 10px;
            }
        }
    }
}